@model X.PagedList.IPagedList<WEBSITE_TRAVELBOOKING.Models.SysHotel>
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using CommonMode = X.PagedList.Web.Common.PagedListDisplayMode
@{
	Layout = "_Layout";
	ViewData["Title"] = "Tour";

	var countryCounts = ViewBag.CountryCounts as List<WEBSITE_TRAVELBOOKING.Models.CountryHotelCountViewModel>;
	var visibleCountries = countryCounts?.Take(5).ToList();
	var hiddenCountries = countryCounts?.Skip(5).ToList();
	var hiddenCount = hiddenCountries?.Count ?? 0;
	ViewData["Detail"] = true;
	var s = Model;
	var tinhThanhSuggestions = ViewBag.TinhThanh as List<String>;
}


<style>
	.center-alert {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 600px;
		width: 100%;
		margin-top: 50px;
	}

	/* Khi hover từng dòng gợi ý */
	.list-group-item-action:hover {
		background-color: #e6f0ff; /* nền xanh nhạt */
		border-left: 4px solid #006ce4; /* viền trái nổi bật */
		color: #006ce4;
		font-weight: 500;
	}

	.js-slick-carousel {
		margin-left: 0 !important;
		text-align: left !important;
	}

		.js-slick-carousel .slick-track {
			margin-left: 0 !important;
		}

	#arrowIcon {
		transform: rotate(180deg);
	}
</style>


<div class="container pt-5 pt-xl-8">
	<div class="row mb-5 mb-lg-8 mt-xl-1">
		<div class="col-lg-4 col-xl-3 order-lg-1 width-md-50">
			<div class="navbar-expand-lg navbar-expand-lg-collapse-block">
				<button class="btn d-lg-none mb-3 p-0" id="toggleSidebar" type="button" aria-label="Toggle navigation">
					<i class="fas fa-search text-primary font-size-20 ml-0"></i>
					<span class="text-primary ml-2">Tìm kiếm</span>
					<i id="arrowIcon" class="far fa-caret-square-down text-primary font-size-20 ml-0"></i>
				</button>
				<div id="sidebar" class="collapse navbar-collapse">
					<div class="mb-6 w-100">
						<div class="pb-4 mb-2">
							<div class="sidebar border border-color-1 rounded-xs">
								<div class="p-4 mb-1">
									<!-- Input -->
									<span class="d-block text-gray-1  font-weight-normal mb-0 text-left">Nhập địa điểm / Tên tour</span>
									<div class="mb-4">
										<div class="input-group border-bottom border-width-2 border-color-1">
											<i class="flaticon-pin-1 d-flex align-items-center mr-2 text-primary font-weight-semi-bold font-size-22"></i>
											<input type="text" name="keyword" id="locationInput"
												   class="form-control font-weight-medium font-size-15 shadow-none hero-form border-0 p-0"
												   placeholder="Bạn muốn đến đâu?" autocomplete="off">
										</div>

										<div id="suggestionBox" class="list-group position-absolute w-100 shadow" style="z-index: 999; display: none; max-height: 300px; overflow-y: auto;">
											<!-- Suggestion items sẽ được thêm bằng JS -->
										</div>
									</div>

									<!-- End Input -->
									<!-- Input -->
									<span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Ngày đến - Ngày đi</span>
									<div class="mb-4">
										<div class="border-bottom border-width-2 border-color-1">
											<div id="datepickerWrapperPick" class="u-datepicker input-group">
												<div class="input-group-prepend">
													<span class="d-flex align-items-center mr-2 font-size-21">
														<i class="flaticon-calendar text-primary font-weight-semi-bold"></i>
													</span>
												</div>
												<input id="checkInOut"
													   class="js-range-datepicker font-weight-medium font-size-15 ml-1 shadow-none form-control hero-form bg-transparent border-0 flatpickr-input p-0"
													   type="text"
													   placeholder="Ngày đi - Ngày đến"
													   aria-label="Ngày đi - Ngày đến"
													   readonly="readonly"
													   style="width: 217.5px;">
												<div class="flatpickr-calendar rangeMode animate showTimeInput" tabindex="-1">
													<div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><span class="cur-month">July </span><div class="numInputWrapper"><input class="numInput cur-year" type="text" pattern="\d*" tabindex="-1" aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer">
														<div class="flatpickr-rContainer">
															<div class="flatpickr-weekdays">
																<div class="flatpickr-weekdaycontainer">
																	<span class="flatpickr-weekday">
																		Mo
																	</span><span class="flatpickr-weekday">Tu</span><span class="flatpickr-weekday">We</span><span class="flatpickr-weekday">Th</span><span class="flatpickr-weekday">Fr</span><span class="flatpickr-weekday">Sa</span><span class="flatpickr-weekday">
																		Su
																	</span>
																</div>
															</div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="June 29, 2020" tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="June 30, 2020" tabindex="-1">30</span><span class="flatpickr-day " aria-label="July 1, 2020" tabindex="-1">1</span><span class="flatpickr-day " aria-label="July 2, 2020" tabindex="-1">2</span><span class="flatpickr-day " aria-label="July 3, 2020" tabindex="-1">3</span><span class="flatpickr-day " aria-label="July 4, 2020" tabindex="-1">4</span><span class="flatpickr-day " aria-label="July 5, 2020" tabindex="-1">5</span><span class="flatpickr-day " aria-label="July 6, 2020" tabindex="-1">6</span><span class="flatpickr-day selected startRange" aria-label="July 7, 2020" tabindex="-1">7</span><span class="flatpickr-day inRange" aria-label="July 8, 2020" tabindex="-1">8</span><span class="flatpickr-day inRange" aria-label="July 9, 2020" tabindex="-1">9</span><span class="flatpickr-day inRange" aria-label="July 10, 2020" tabindex="-1">10</span><span class="flatpickr-day inRange" aria-label="July 11, 2020" tabindex="-1">11</span><span class="flatpickr-day inRange" aria-label="July 12, 2020" tabindex="-1">12</span><span class="flatpickr-day inRange" aria-label="July 13, 2020" tabindex="-1">13</span><span class="flatpickr-day inRange" aria-label="July 14, 2020" tabindex="-1">14</span><span class="flatpickr-day inRange" aria-label="July 15, 2020" tabindex="-1">15</span><span class="flatpickr-day inRange" aria-label="July 16, 2020" tabindex="-1">16</span><span class="flatpickr-day inRange" aria-label="July 17, 2020" tabindex="-1">17</span><span class="flatpickr-day inRange" aria-label="July 18, 2020" tabindex="-1">18</span><span class="flatpickr-day inRange" aria-label="July 19, 2020" tabindex="-1">19</span><span class="flatpickr-day inRange" aria-label="July 20, 2020" tabindex="-1">20</span><span class="flatpickr-day inRange" aria-label="July 21, 2020" tabindex="-1">21</span><span class="flatpickr-day inRange" aria-label="July 22, 2020" tabindex="-1">22</span><span class="flatpickr-day inRange" aria-label="July 23, 2020" tabindex="-1">23</span><span class="flatpickr-day inRange" aria-label="July 24, 2020" tabindex="-1">24</span><span class="flatpickr-day inRange" aria-label="July 25, 2020" tabindex="-1">25</span><span class="flatpickr-day inRange" aria-label="July 26, 2020" tabindex="-1">26</span><span class="flatpickr-day inRange" aria-label="July 27, 2020" tabindex="-1">27</span><span class="flatpickr-day inRange" aria-label="July 28, 2020" tabindex="-1">28</span><span class="flatpickr-day inRange" aria-label="July 29, 2020" tabindex="-1">29</span><span class="flatpickr-day inRange" aria-label="July 30, 2020" tabindex="-1">30</span><span class="flatpickr-day inRange" aria-label="July 31, 2020" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 1, 2020" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 2, 2020" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 3, 2020" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 4, 2020" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 5, 2020" tabindex="-1">5</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 6, 2020" tabindex="-1">6</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 7, 2020" tabindex="-1">7</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 8, 2020" tabindex="-1">8</span><span class="flatpickr-day nextMonthDay inRange" aria-label="August 9, 2020" tabindex="-1">9</span></div></div>
														</div>
													</div>
												</div>
											</div>
											<!-- End Datepicker -->
										</div>
									</div>
									<!-- End Input -->
									<!-- Input -->
									<span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Loại chuyến du lịch</span>
									<div class="mb-4 position-relative">
										<div class="border-bottom border-width-2 border-color-1">
											<select name="IdType" id="tourTypeSelect" class="form-control js-select selectpicker dropdown-select">
												<option value="">--Chọn loại tour--</option>
												@foreach (var item in ViewBag.Types)
												{
													<option value="@item.Id">@item.Name</option>
												}
											</select>
										</div>
									</div>
									<!-- End Input -->
									<!-- Input -->
									<span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Số khách</span>
									<div class="mb-4 position-relative">
										<div class="border-bottom border-width-2 border-color-1 mb-3">
											<div class="input-group d-flex align-items-center">
												<i class="flaticon-user-1 mr-2 text-primary font-size-20"></i>
												<input type="number" class="form-control bg-transparent border-0 text-center"
													   id="guestCount" name="GuestCount" value="1" min="1" max="999"
													   style="width: 50px;">
											</div>
										</div>
									</div>
									<!-- End Input -->

									<div class="text-center">
										<button id="btnSearch" class="btn btn-primary height-60 w-100 font-weight-bold mb-xl-0 mb-lg-1 transition-3d-hover"><i class="flaticon-magnifying-glass mr-2 font-size-17"></i>Tìm kiếm</button>
									</div>
								</div>
							</div>
						</div>

						<div class="sidenav border border-color-8 rounded-xs">
							<!-- Accordiaon -->
							<div id="RatingAccordion" class="accordion rounded shadow-none border-bottom">
								<div class="card-collapse" id="shopRatingHeadingOne">
									<h3 class="mb-0">
										<button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3" data-toggle="collapse" data-target="#shopRatingOne" aria-expanded="true" aria-controls="shopRatingOne">
											<span class="row align-items-center">
												<span class="col-9">
													<span class="font-weight-bold font-size-17 text-dark mb-3">Sao đánh giá</span>
												</span>
												<span class="col-3 text-right">
													<span class="card-btn-arrow">
														<span class="fas fa-chevron-down small"></span>
													</span>
												</span>
											</span>
										</button>
									</h3>
								</div>
								<div id="shopRatingOne" class="collapse show" aria-labelledby="shopRatingHeadingOne" data-parent="#RatingAccordion">
									<div class="card-body pt-0 mt-1 px-5">
										<!-- Checkboxes -->
										<div class="form-group font-size-14 text-lh-md text-secondary mb-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input filter-rating" id="star5" data-stars="5" onchange="getDK()">
												<label class="custom-control-label text-lh-inherit text-color-1" for="star5">
													<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
														<div class="green-lighter ml-1 letter-spacing-2">
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
												</label>
											</div>
										</div>
										<div class="form-group font-size-14 text-lh-md text-secondary mb-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input filter-rating" id="star4" data-stars="4" onchange="getDK()">
												<label class="custom-control-label text-lh-inherit text-color-1" for="star4">
													<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
														<div class="green-lighter ml-1 letter-spacing-2">
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
												</label>
											</div>
										</div>
										<div class="form-group font-size-14 text-lh-md text-secondary mb-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input filter-rating" id="star3" data-stars="3" onchange="getDK()">
												<label class="custom-control-label text-lh-inherit text-color-1" for="star3">
													<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
														<div class="green-lighter ml-1 letter-spacing-2">
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
												</label>
											</div>
										</div>
										<div class="form-group font-size-14 text-lh-md text-secondary mb-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input filter-rating" id="star2" data-stars="2" onchange="getDK()">
												<label class="custom-control-label text-lh-inherit text-color-1" for="star2">
													<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
														<div class="green-lighter ml-1 letter-spacing-2">
															<i class="fas fa-star"></i>
															<i class="fas fa-star"></i>
														</div>
													</div>
												</label>
											</div>
										</div>
										<div class="form-group font-size-14 text-lh-md text-secondary mb-3">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input filter-rating" id="star1" data-stars="1" onchange="getDK()">
												<label class="custom-control-label text-lh-inherit text-color-1" for="star1">
													<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
														<div class="green-lighter ml-1 letter-spacing-2">
															<i class="fas fa-star"></i>
														</div>
													</div>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="shopCartAccordion" class="accordion rounded shadow-none">
								<div class="border-0">
									<div class="card-collapse" id="shopCardHeadingOne">
										<h3 class="mb-0">
											<button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#shopCardOne" aria-expanded="false" aria-controls="shopCardOne">
												<span class="row align-items-center">
													<span class="col-9">
														<span class="d-block font-size-lg-15 font-size-17 font-weight-bold text-dark">Giá (VNĐ)</span>
													</span>
													<span class="col-3 text-right">
														<span class="card-btn-arrow">
															<span class="fas fa-chevron-down small"></span>
														</span>
													</span>
												</span>
											</button>
										</h3>
									</div>
									<div id="shopCardOne" class="collapse show" aria-labelledby="shopCardHeadingOne" data-parent="#shopCartAccordion">
										<div class="card-body pt-0 px-5">
											<div class="pb-3 mb-1 d-flex text-lh-1" style="margin-left:0px; margin-top:10px; margin-bottom: 0px">
												<span id="rangeSliderExample3MinResult" class="">0</span>
												<span> VNĐ</span>
												<span class="mx-0dot5"> — </span>

												<span id="rangeSliderExample3MaxResult" class="">@(ViewBag.MaxTourPrice.ToString("N0"))</span>
												<span> VNĐ</span>
											</div>
											<span id="customRangeSlider" class="irs js-irs-0 u-range-slider height-35"
												  style="position: relative; user-select:none; width: 190px; height: 35px;">
												<span class="irs">
													<span class="irs-line" tabindex="0"
														  style="position: relative; display: block; height: 10px; background: #ddd; border-radius: 5px; margin-top: 10px;">
														<span class="irs-line-left"></span>
														<span class="irs-line-mid"></span>
														<span class="irs-line-right"></span>
													</span>

													<span class="irs-min" style="display: none;">0</span>
													<span class="irs-max" style="display: none;">1</span>
													<span class="irs-from" style="display: none; left: 0%;">0</span>
													<span class="irs-to" style="display: none; left: 0%;">0</span>
													<span class="irs-single" style="display: none; left: 0%;">0</span>
												</span>

												<span class="irs-grid"></span>

												<span class="irs-bar" style="position: absolute; height: 10px; background-color: #007bff; border-radius: 5px; top: 10px; left: 10.3217%; width: 84.5501%;"></span>

												<span class="irs-shadow shadow-from" style="display: none;"></span>
												<span class="irs-shadow shadow-to" style="display: none;"></span>

												<span class="irs-slider from type_last"
													  style="position: absolute; top: 7px; width: 16px; height: 16px; background: #007bff; border-radius: 50%; cursor: pointer; left: 5.19349%;"></span>

												<span class="irs-slider to"
													  style="position: absolute; top: 7px; width: 16px; height: 16px; background: #007bff; border-radius: 50%; cursor: pointer; left: 89.7436%;"></span>
											</span>

											<input class="js-range-slider irs-hidden-input"
												   type="text"
												   data-type="double"
												   data-min="0"
												   data-max="@ViewBag.MaxTourPrice"
												   data-from="0"
												   data-to="@ViewBag.MaxTourPrice"
												   data-prefix="₫"
												   data-result-min="#rangeSliderExample3MinResult"
												   data-result-max="#rangeSliderExample3MaxResult" />
										</div>
									</div>
								</div>
							</div>
							<div id="cityCategoryAccordion" class="accordion rounded-0 shadow-none border-top">
								<div class="border-0">
									<div class="card-collapse" id="cityCategoryHeadingOne">
										<h3 class="mb-0">
											<button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#cityCategoryOne" aria-expanded="false" aria-controls="cityCategoryOne">
												<span class="row align-items-center">
													<span class="col-9">
														<span class="font-weight-bold font-size-17 text-dark mb-3">Thành phố</span>
													</span>
													<span class="col-3 text-right">
														<span class="card-btn-arrow">
															<span class="fas fa-chevron-down small"></span>
														</span>
													</span>
												</span>
											</button>
										</h3>
									</div>

									<div id="cityCategoryOne" class="collapse show" aria-labelledby="cityCategoryHeadingOne" data-parent="#cityCategoryAccordion">
										<div class="card-body pt-0 mt-1 px-5 pb-4">
											@if (visibleCountries != null)
											{
												foreach (var item in visibleCountries)
												{
													var name = item.Name;
													var count = item.Count;
													var id = "country_" + name.ToLower().Replace(" ", "").Replace(".", "").Replace(",", "").Replace("'", "");

													<div class="form-group font-size-14 text-lh-md text-secondary mb-3 flex-center-between" data-id="@item.Id">
														<div class="custom-control custom-checkbox">
															<input type="checkbox" class="custom-control-input country-checkbox" id="@id" name="countryFilter" value="@item.Id" onchange="getDK()">
															<label class="custom-control-label" for="@id">@name</label>
														</div>
														<span>@count</span>
													</div>
												}
											}

											<!-- End Checkboxes -->
											<!-- View More - Collapse -->
											@if (hiddenCountries != null && hiddenCountries.Any())
											{
												<div class="collapse" id="collapseMoreCountries">
													@foreach (var item in hiddenCountries)
													{
														var name = item.Name;
														var count = item.Count;
														var id = "country_" + name.ToLower().Replace(" ", "").Replace(".", "").Replace(",", "").Replace("'", "");
														<div class="form-group font-size-14 text-lh-md text-secondary mb-3 flex-center-between" data-id="@item.Id">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input country-checkbox" id="@id" name="countryFilter" value="@item.Id" onchange="getDK()">
																<label class="custom-control-label" for="@id">@name</label>
															</div>
															<span>@count</span>
														</div>
													}
												</div>
												<a class="link link-collapse small font-size-1" data-toggle="collapse"
												   href="#collapseMoreCountries" role="button" aria-expanded="false" aria-controls="collapseMoreCountries">
													<span class="link-collapse__default font-size-14">Hiển thị thêm (@hiddenCount)</span>
													<span class="link-collapse__active font-size-14">Đóng Hiển thị</span>
												</a>
												<!-- End Link -->
											}
										</div>
									</div>
								</div>
							</div>
							<!-- End Accordion -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-xl-9 order-md-1 order-lg-2 pb-5 pb-lg-0">
			<!-- End shop-control-bar Title -->
			<!-- Slick Tab carousel -->
			<div class="u-slick__tab">
				<!-- Nav Links -->
				<div class="mb-5">
					<ul class="nav d-flex flex-nowrap w-100 border border-radius-3 tab-nav align-items-center py-2 px-0" role="tablist">
						<li class="nav-item flex-fill text-center">
							<a href="#" id="btnFeatured" class="nav-link text-nowrap font-weight-normal text-gray-1 py-1 px-2 font-size-15 sort-link5">
								Đề xuất <span id="featuredIcon"></span>
							</a>
						</li>
						<li class="nav-item flex-fill text-center border-start">
							<a href="#" id="btnPrice" class="nav-link text-nowrap font-weight-normal text-gray-1 py-1 px-2 font-size-15 sort-link">
								Giá <span id="priceIcon"></span>
							</a>
						</li>
						<li class="nav-item flex-fill text-center border-start">
							<a href="#" id="btnStart" class="nav-link text-nowrap font-weight-normal text-gray-1 py-1 px-2 font-size-15 sort-link">
								Số sao <span id="starIcon"></span>
							</a>
						</li>
						<li class="nav-item flex-fill text-center border-start">
							<a href="#" id="btnScore" class="nav-link text-nowrap font-weight-normal text-gray-1 py-1 px-2 font-size-15 sort-link">
								Đánh giá <span id="scoreIcon"></span>
							</a>
						</li>
						<li class="nav-item flex-fill text-center border-start">
							<a href="#" id="btnReviews" class="nav-link text-nowrap font-weight-normal text-gray-1 py-1 px-2 font-size-15 sort-link">
								Số lượng đánh giá <span id="reviewsIcon"></span>
							</a>
						</li>
					</ul>
				</div>

				<!-- End Nav Links -->
				<!-- Tab Content -->
				<div class="tab-content loadUsingPage" id="loadFilter">
					<div class="tab-content" id="loadFilter">
						<div id="loadingSpinner" class="text-center my-5">
							<div class="spinner-border text-primary" role="status"></div>
							<div class="mt-2">Đang tải dữ liệu Chuyến đi...</div>
						</div>
					</div>
				</div>
				<!-- End Tab Content -->
			</div>
			<!-- Slick Tab carousel -->
		</div>
	</div>
</div>


@section scriptsAdd {
	<script src="~/assets/User/Search.js"></script>
	<script src="~/assets/vendor/ion-rangeslider/js/ion.rangeslider.min.js"></script>
	<script>
		var dataToSend;
		setupDatePicker("#checkInOut");
		setupRoomGuestSummary();
		const tinhThanhList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.TinhThanh));
		const hotelList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model?.Select(h => h.Name) ?? new List<string>()));
		setupLocationAutocomplete(tinhThanhList, hotelList);
		const guestCountInput = document.getElementById('guestCount');
		setupGuestCountInput(guestCountInput);
		const maxPrice = @(ViewBag.MaxTourPrice);
		document.addEventListener('DOMContentLoaded', () => {
			const urlParams = new URLSearchParams(window.location.search);
			if(urlParams.size>0){
				const locationParam = urlParams.get("location");
				const dateRangeParam = urlParams.get("dateRange");
				const RoomParam = urlParams.get("rooms");
				const AdultParam = urlParams.get("adults");
				const ChildrenParam = urlParams.get("children");
				if (locationParam) {
					$("[name='keyword']").val(locationParam);

				}if (dateRangeParam) {
					$("#checkInOut").val(dateRangeParam);
				}
				if (RoomParam) {
					$("[name='rooms']").val(RoomParam);
				}
				if (AdultParam) {
					$("[name='adults']").val(AdultParam);
				}
				if (ChildrenParam) {
					$("[name='children']").val(ChildrenParam);
				}
				getDK();
			}else{
				setupPriceSlider(maxPrice, getDK);
			}
		});
		setupSidebarToggle();
		let sortOrder = [];
		// $("#loadBlog").load("/TrangChu/loadBlog");
		const keys = ["Featured", "Price", "Start", "Score", "Reviews"];
		updateSortIcons(keys);
		 $("#btnFeatured").click(function (e) {
			e.preventDefault();
			toggleSort("Featured",keys,getDK);
		});

		 $("#btnScore").click(function (e) {
			e.preventDefault();
			toggleSort("Score",keys,getDK);
		});
		 $("#btnReviews").click(function (e) {
			e.preventDefault();
			toggleSort("Reviews",keys,getDK);
		});

		$("#btnSearch").click(function (e) {
			e.preventDefault();
			getDK();
		});

		$("#btnPrice").click(function (e) {
			e.preventDefault();
			toggleSort("Price",keys,getDK);
		});

		$("#btnStart").click(function (e) {
			e.preventDefault();
			toggleSort("Start",keys,getDK);
		});

		$(document).ready(function () {

		});
		function getDK(page = 1){
			$("#loadFilter").html(`
				<div id="loadingSpinner" class="text-center my-5">
					<div class="spinner-border text-primary" role="status"></div>
					<div class="mt-2">Đang tải dữ liệu Chuyến đi...</div>
				</div>
			`);
			var selectedStars = [];
			$(".filter-rating:checked").each(function () {
				selectedStars.push($(this).data("stars"));
			});

			var selectedCountries = [];
			$(".country-checkbox:checked").each(function () {
				selectedCountries.push(parseInt($(this).val()));
			});

			var minPrice = parseInt($("#rangeSliderExample3MinResult").text().replace(/,/g, '')) || 0;
			var maxPrice = parseInt($("#rangeSliderExample3MaxResult").text().replace(/,/g, '')) || 0;

			var keyword = $("[name='keyword']").val();
			var dateRange = $("#checkInOut").val();
			var startDate = "", endDate = "";

			if (dateRange.includes(" → ")) {
				var dates = dateRange.split(" → ");
				if (dates.length === 2) {
					startDate = dates[0].trim();
					endDate = dates[1].trim();
				}
			}

			var guestNum = parseInt($("[name='GuestCount']").val());
			var IDType = parseInt($("[name='IdType']").val());

			dataToSend = {
				SortOrders: JSON.stringify(sortOrder),
				NumStar: selectedStars,
				IdContry: selectedCountries,
				Location: keyword,
				StartDate: startDate,
				EndDate: endDate,
				GuestNumber: guestNum,
				page: page,
				MinPrice: minPrice,
				MaxPrice: maxPrice,
				IdType: IDType
			};
		$.ajax({
			url: "/tour/loadFilter",
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify(dataToSend),
			success: function (result) {
				$("#loadFilter").html(result);
			},
			error: function (xhr, status, error) {
				$("#loadFilter").html("<div class='text-danger'>Có lỗi xảy ra khi tải dữ liệu.</div>");
			}
		});
		}
	</script>
}

