@model X.PagedList.IPagedList<WEBSITE_TRAVELBOOKING.Models.SysTour>
@using X.PagedList.Mvc.Core.Common 
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using CommonMode = X.PagedList.Web.Common.PagedListDisplayMode
@using WEBSITE_TRAVELBOOKING.Helper
@{
	var likedHotelIds = ViewBag.LikedTourIds as List<int> ?? new List<int>();
	int count = ViewBag.toursCountByUser;
	var TourSugges = ViewBag.SuggestedTours as List<WEBSITE_TRAVELBOOKING.Models.SysTour>;
	int countSugges = TourSugges != null ? TourSugges.Count : 0;
	var TourSuggesTT = ViewBag.SuggestedtoursTT as List<WEBSITE_TRAVELBOOKING.Models.SysTour>;
	int countSuggesTT = TourSuggesTT != null ? TourSuggesTT.Count : 0;
}


<div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab" data-target-group="groups">

	<div class="d-flex justify-content-between align-items-center mb-4">
		<h3 class="font-size-21 font-weight-bold mb-0 text-lh-1">
			@{
				var username = $"Hiện có {count} Chuyến đi trống";
			}
			@username
		</h3>
	</div>
	@if (Model == null || !Model.Any())
	{

		<div class="row">
			<div class="alert alert-warning text-center center-alert" role="alert">
				Không có Chuyến đi bạn muốn tìm, vui lòng Tìm kiếm lại.
			</div>
		</div>
		@if (countSuggesTT != 0)
		{
			<div class="container space-1">
				<h2 class="section-title text-center mb-5 mt-3">Một số gợi ý cho bạn</h2>
				<div class="js-slick-carousel u-slick u-slick--gutters-3 text-left ml-0" data-slides-show="3" data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-classic--v2 u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="flaticon-back u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-xl-n8" data-arrow-right-classes="flaticon-next u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-xl-n8"
					 data-pagi-classes="d-lg-none text-center u-slick__pagination mt-4" data-responsive='[ { "breakpoint": 1025, "settings": { "slidesToShow": 3 } }, { "breakpoint": 992, "settings": { "slidesToShow": 2 } }, { "breakpoint": 768, "settings": { "slidesToShow": 1 } }, { "breakpoint": 554, "settings": { "slidesToShow": 1 } } ]'>
					@foreach (var tour in TourSuggesTT)
					{
						var firstImage = tour.ListImg?.Split(',').FirstOrDefault() ?? "/assets/img/no-image.png";
						<div data-rating="@tour.NumStar" data-cityid="@tour.IdContry" onchange="console.log('Checked country id:', this.data-cityid)">
							<div class="card transition-3d-hover shadow-hover-2 tab-card h-100">
								<div class="position-relative">
									<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="d-block gradient-overlay-half-bg-gradient-v5">
										<img class="min-height-230 bg-img-hero card-img-top" src="@firstImage" alt="img">
									</a>
									<div id="Like" class="position-absolute top-0 right-0 pt-3 pr-3">
										<button type="button"
												id="btnLike-@tour.Id"
												class="btn btn-sm btn-icon rounded-circle btn-like"
												data-tour-id="@tour.Id"
												data-liked="@(likedHotelIds.Contains(tour.Id) ? "true" : "false")"
												title="Yêu thích">
											@if (likedHotelIds.Contains(tour.Id))
											{
												<span class="fa-solid fa-heart" style="color:red"></span>
											}
											else
											{
												<span class="fa-regular fa-heart"></span>
											}
										</button>
									</div>

									<div class="position-absolute bottom-0 left-0 right-0">
										<div class="px-4 pb-3">
											<a href="../hotels/hotel-single-v1.html" class="d-block">
												<div class="d-flex align-items-center font-size-14 text-white">
													<i class="icon flaticon-pin-1 mr-2 font-size-20"></i> @tour.LocalText
												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body pl-3 pr-4 pt-2 pb-3">
									<div class="ml-1 mb-2">
										<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary letter-spacing-3">
											<div class="green-lighter">
												@for (int i = 0; i < @tour.NumStar; i++)
												{
													<small class="fas fa-star"></small>
												}
											</div>
										</div>
									</div>
									<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="card-title font-size-17 font-weight-medium text-dark">@tour.Name</a>
									<div class="mt-2 mb-3">
										<span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">@(tour.Score ?? 0)/5</span>
										<span class="font-size-14 text-gray-1 ml-2">(@(tour.Reviews ?? 0) Đánh giá)</span>
									</div>
									<div class="mb-0">
										<span class="mr-1 font-size-14 text-gray-1">Giá</span>
										<span class="font-weight-bold">
											@tour.Price?.ToString("N0") VNĐ
										</span>
										<span class="font-size-14 text-gray-1"> / Chuyến đi</span>
									</div>

									<div class="position-absolute top-0 left-0 pt-5 pl-3">
										@if (@tour.Featured == true)
										{
											<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
												<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal">Nổi bật</span>
											</a>

											@if (@tour.IdPromotionNavigation != null)
											{
												<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
													<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal text-danger">Giảm @tour.IdPromotionNavigation.SaleOff%</span>
												</a>
											}
										}
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		}
	}
	else
	{
		<div class="row">

			@foreach (var tour in Model)
			{

				var firstImage = tour.ListImg?.Split(',').FirstOrDefault() ?? "/assets/img/no-image.png";
				<div class="col-md-6 col-lg-4 mb-3 mb-md-4 pb-1 hotel-item" data-rating="@tour.NumStar" data-cityid="@tour.IdContry" onchange="console.log('Checked country id:', this.data-cityid)">
					<div class="card transition-3d-hover shadow-hover-2 tab-card h-100" style="margin-left: 1rem;">
						<div class="position-relative">
							<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="d-block gradient-overlay-half-bg-gradient-v5">
								<img class="min-height-230 bg-img-hero card-img-top" src="@firstImage" alt="img">
							</a>
							<div id="Like" class="position-absolute top-0 right-0 pt-3 pr-3">
								<button type="button"
										id="btnLike-@tour.Id"
										class="btn btn-sm btn-icon rounded-circle btn-like"
										data-tour-id="@tour.Id"
										data-liked="@(likedHotelIds.Contains(tour.Id) ? "true" : "false")"
										title="Yêu thích">
									@if (likedHotelIds.Contains(tour.Id))
									{
										<span class="fa-solid fa-heart" style="color:red"></span>
									}
									else
									{
										<span class="fa-regular fa-heart"></span>
									}
								</button>
							</div>

							<div class="position-absolute bottom-0 left-0 right-0">
								<div class="px-4 pb-3">
									<a href="../hotels/hotel-single-v1.html" class="d-block">
										<div class="d-flex align-items-center font-size-14 text-white">
											<i class="icon flaticon-pin-1 mr-2 font-size-20"></i> @tour.LocalText
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="card-body pl-3 pr-4 pt-2 pb-3">
							<div class="ml-1 mb-2">
								<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary letter-spacing-3">
									<div class="green-lighter">
										@for (int i = 0; i < @tour.NumStar; i++)
										{
											<small class="fas fa-star"></small>
										}
									</div>
								</div>
							</div>
							<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="card-title font-size-17 font-weight-medium text-dark">@tour.Name</a>
							<div class="mt-2 mb-3">
								<span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">@(tour.Score ?? 0)/5</span>
								<span class="font-size-14 text-gray-1 ml-2">(@(tour.Reviews ?? 0) Đánh giá)</span>
							</div>
							<div class="mb-0">
								<span class="mr-1 font-size-14 text-gray-1">Giá</span>
								<span class="font-weight-bold">
									@tour.Price?.ToString("N0") VNĐ
								</span>
								<span class="font-size-14 text-gray-1"> / Chuyến đi</span>
							</div>

							<div class="position-absolute top-0 left-0 pt-5 pl-3">
								@if (@tour.Featured == true)
								{
									<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
										<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal">Nổi bật</span>
									</a>
								}

								@if (@tour.IdPromotionNavigation != null)
								{
									<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
										<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal text-danger">Giảm @tour.IdPromotionNavigation.SaleOff%</span>
									</a>
								}
							</div>
						</div>
					</div>
				</div>

			}


			@if (count < 6)
			{
				@if (countSugges != 0)
				{
					<div class="container space-1">
						<h2 class="section-title text-center mb-5 mt-3">Một số gợi ý cho bạn</h2>
						<div class="js-slick-carousel u-slick u-slick--gutters-3 text-left ml-0" data-slides-show="3" data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-classic--v2 u-slick__arrow-centered--y rounded-circle" data-arrow-left-classes="flaticon-back u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-xl-n8" data-arrow-right-classes="flaticon-next u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-xl-n8"
							 data-pagi-classes="d-lg-none text-center u-slick__pagination mt-4" data-responsive='[ { "breakpoint": 1025, "settings": { "slidesToShow": 3 } }, { "breakpoint": 992, "settings": { "slidesToShow": 2 } }, { "breakpoint": 768, "settings": { "slidesToShow": 1 } }, { "breakpoint": 554, "settings": { "slidesToShow": 1 } } ]'>
							@foreach (var tour in TourSugges)
							{
								var firstImage = tour.ListImg?.Split(',').FirstOrDefault() ?? "/assets/img/no-image.png";
								<div data-rating="@tour.NumStar" data-cityid="@tour.IdContry" onchange="console.log('Checked country id:', this.data-cityid)">
									<div class="card transition-3d-hover shadow-hover-2 tab-card h-100">
										<div class="position-relative">
											<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="d-block gradient-overlay-half-bg-gradient-v5">
												<img class="min-height-230 bg-img-hero card-img-top" src="@firstImage" alt="img">
											</a>
											<div id="Like" class="position-absolute top-0 right-0 pt-3 pr-3">
												<button type="button"
														id="btnLike-@tour.Id"
														class="btn btn-sm btn-icon rounded-circle btn-like"
														data-tour-id="@tour.Id"
														data-liked="@(likedHotelIds.Contains(tour.Id) ? "true" : "false")"
														title="Yêu thích">
													@if (likedHotelIds.Contains(tour.Id))
													{
														<span class="fa-solid fa-heart" style="color:red"></span>
													}
													else
													{
														<span class="fa-regular fa-heart"></span>
													}
												</button>
											</div>

											<div class="position-absolute bottom-0 left-0 right-0">
												<div class="px-4 pb-3">
													<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="d-block">
														<div class="d-flex align-items-center font-size-14 text-white">
															<i class="icon flaticon-pin-1 mr-2 font-size-20"></i> @tour.LocalText
														</div>
													</a>
												</div>
											</div>
										</div>
										<div class="card-body pl-3 pr-4 pt-2 pb-3">
											<div class="ml-1 mb-2">
												<div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary letter-spacing-3">
													<div class="green-lighter">
														@for (int i = 0; i < @tour.NumStar; i++)
														{
															<small class="fas fa-star"></small>
														}
													</div>
												</div>
											</div>
											<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id" class="card-title font-size-17 font-weight-medium text-dark">@tour.Name</a>
											<div class="mt-2 mb-3">
												<span class="badge badge-pill badge-primary py-1 px-2 font-size-14 border-radius-3 font-weight-normal">@(tour.Score ?? 0)/5</span>
												<span class="font-size-14 text-gray-1 ml-2">(@(tour.Reviews ?? 0) Đánh giá)</span>
											</div>
											<div class="mb-0">
												<span class="mr-1 font-size-14 text-gray-1">Giá</span>
												<span class="font-weight-bold">
													@tour.Price?.ToString("N0") VNĐ
												</span>
												<span class="font-size-14 text-gray-1"> / Chuyến đi</span>
											</div>

											<div class="position-absolute top-0 left-0 pt-5 pl-3">
												@if (@tour.Featured == true)
												{
													<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
														<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal">Nổi bật</span>
													</a>

													@if (@tour.IdPromotionNavigation != null)
													{
														<a href="/tour/@Common.GenerateSlug(tour.Name)?t=@tour.Id">
															<span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal text-danger">Giảm @tour.IdPromotionNavigation.SaleOff%</span>
														</a>
													}
												}
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				}

			}

		</div>


		// <nav aria-label="Page navigation">
		// 	@Html.PagedListPager(Model, page => Url.Action("loadFilter", new { page,area = (string)null  }),
		// 				new PagedListRenderOptions
		// {
		// 	DisplayLinkToFirstPage = CommonMode.Always,
		// 	DisplayLinkToLastPage = CommonMode.Always,
		// 	DisplayLinkToPreviousPage = CommonMode.Always,
		// 	DisplayLinkToNextPage = CommonMode.Always,
		// 	DisplayLinkToIndividualPages = true,
		// 	MaximumPageNumbersToDisplay = 5,
		// 	UlElementClasses = new[] {"pagenoSearch", "pagination", "justify-content-center", "my-4" },
		// 	LiElementClasses = new[] { "page-item" },
		// 	PageClasses = new[] { "page-link" },
		// 	ActiveLiElementClass = "active"
		// })
		// </nav>
		<nav aria-label="Page navigation">
			@Html.PagedListPager(Model, page => Url.Action("loadFilter", new { area = (string)null }),
						new PagedListRenderOptions
		{
			DisplayLinkToFirstPage = CommonMode.Always,
			DisplayLinkToLastPage = CommonMode.Always,
			DisplayLinkToPreviousPage = CommonMode.Always,
			DisplayLinkToNextPage = CommonMode.Always,
			DisplayLinkToIndividualPages = true,
			MaximumPageNumbersToDisplay = 5,
			UlElementClasses = new[] { "pagenoSearch", "pagination", "justify-content-center", "my-4" },
			LiElementClasses = new[] { "page-item" },
			PageClasses = new[] { "page-link" },
			ActiveLiElementClass = "active"
		}
						)
		</nav>
	}
</div>

<script>

	$(document).ready(function () {
	$(".btn-like").click(function () {
		var btn = $(this);
		var TourId = btn.data("tour-id");
		var liked = btn.data("liked");  // trạng thái hiện tại

		// Gửi ajax lên controller để cập nhật trạng thái yêu thích
		$.ajax({
			url: '/tour/UpdateLike',  // URL controller xử lý
			type: 'POST',
			data: { tourId: TourId, liked: !liked },  // gửi trạng thái mới (đảo ngược)
			success: function (response) {
					if (response.success) {
						// Cập nhật trạng thái trong button
						btn.data("liked", (!liked).toString());

						// Thay đổi icon và màu theo trạng thái mới
						if (!liked) {
							// Đã thích -> đổi icon trái tim đặc màu đỏ
							btn.html('<span class="fa-solid fa-heart" style="color:red"></span>');
						} else {
							// Bỏ thích -> đổi icon trái tim rỗng
							btn.html('<span class="fa-regular fa-heart"></span>');
						}
					} else {
						alert("Có lỗi xảy ra khi cập nhật trạng thái yêu thích!");
					}
				},
				error: function () {
					alert("Lỗi khi gọi server!");
				}
			});
		});
	$.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
	});
</script>



