@model WEBSITE_TRAVELBOOKING.Models.SysTour;
@using WEBSITE_TRAVELBOOKING.Helper;
@{
    ViewData["TitleAdmin"] = "Thêm mới chuyến du lịch";
    var listUser = ViewBag.listUser as List<WEBSITE_TRAVELBOOKING.Models.SysUser>;
    var getAccount = Account.GetAccount();
}
@*Thư viện soạn thảo*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet" />

<div class="modal-header">
    <h5 class="modal-title" id="scrollableModalTitle">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <form class="needs-validation" id="dataForm" method="post" enctype="multipart/form-data" novalidate>
        <input type="number" id="IdTour" name="Id" value="@Model.Id" hidden />
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom01">Tên chuyến du lịch <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Name" placeholder="Tên chuyến du lịch" value="@Model.Name" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom03">Đối tác <span class="text-danger">*</span></label>
                    <select class="form-control select2" data-toggle="select2" id="" name="IdUser">
                        <option value="">Đối tác</option>
                        @foreach (var item in listUser)
                        {
                            if (item.Id == Model.IdUser)
                            {
                                <option value="@item.Id" selected>@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn đối tác.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Địa điểm du lịch <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="LocalText" placeholder="Địa điểm" value="@Model.LocalText" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Số điện thoại <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Phone" placeholder="" value="@Model.Phone" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom04">Giá thành <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="Price" placeholder="" value="@Model.Price" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label">Wifi <span class="text-danger">*</span></label>
                    <select class="form-select" name="Wifi">
                        @if (Model.Wifi == "1")
                        {
                            <option value="1" selected>Có wifi</option>
                            <option value="0">Không có wifi</option>
                        }
                        else
                        {
                            <option value="1">Có wifi</option>
                            <option value="0" selected>Không có wifi</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Điểm đón <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Pickup" placeholder="Điểm đón" value="@Model.Pickup" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom04">Số người tối đa <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="MaxPeople" placeholder="" value="@Model.MaxPeople" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom04">Tuổi tối thiểu <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="MinAge" placeholder="" value="@Model.MinAge" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-danger">*</span></label>
                    <select class="form-select" name="Status">
                        @if (Model.Status == true)
                        {
                            <option value="true" selected>Kích hoạt</option>
                            <option value="false">Chưa kịch hoạt</option>
                        }
                        else
                        {
                            <option value="true">Kích hoạt</option>
                            <option value="false" selected>Chưa kịch hoạt</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-3">
                    <label class="form-label">Chuyến du lịch nổi bật <span class="text-danger">*</span></label>
                    <select class="form-select" name="Featured">
                        @if (Model.Featured == true)
                        {
                            <option value="true" selected>Có</option>
                            <option value="false">Không</option>
                        }
                        else
                        {
                            <option value="true">Có</option>
                            <option value="false" selected>Không</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Mô tả <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="summernote" name="Description" rows="10" required>@Html.Raw(Model.Description)</textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Những điều mong đợi <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="summernote2" name="WhattoExpect" rows="10" required>@Html.Raw(Model.WhattoExpect)</textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="example-fileinput" class="form-label">Hình ảnh</label>
                <input type="file" name="postedFile" class="form-control" accept="image/*" multiple>
            </div>
            <!-- Hiển thị ảnh đã lưu -->
            <div id="imageList" class="row mb-3">
                @foreach (var imgPath in Model.ListImg?.Split(',') ?? new string[] { })
                {
                    if (!string.IsNullOrWhiteSpace(imgPath))
                    {
                        var fileName = System.IO.Path.GetFileName(imgPath);

                        <div class="card mb-3 shadow-none border image-container" data-path="@imgPath">
                            <div class="p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <img src="@Common.GetImagePath(Url.Content(imgPath))" class="avatar-sm rounded" alt="file-image" />
                                    </div>
                                    <div class="col ps-0">
                                        <a href="javascript:void(0);" class="text-muted fw-bold">@fileName</a>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Button -->
                                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-3 btn-delete-image" onclick="DeleteIMG()" title="Xóa ảnh">
                                            ✖
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="mb-3">
                <label class="form-label">Đường dẫn iframe Google Maps</label>
                <input type="text" class="form-control" id="iframeInput" name="LocalIframe" value="@Model.LocalIframe" placeholder="Dán đường dẫn iframe Google Maps vào đây" />
            </div>
            <div class="mb-3">
                <label class="form-label">Xem bản đồ</label>
                <div id="iframePreviewContainer" class="border rounded" style="height: 300px; overflow: hidden; display: none;">
                    <iframe id="iframePreview" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; height: 100%; border: 0;"></iframe>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("chinhSuaTour", new { area = "Admin" })" class="btn bg-success-subtle edit text-success waves-effect text-start">
        Cập nhật
    </button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 200 // chiều cao tính bằng pixel
        });
        $('#summernote2').summernote({
            height: 200 // chiều cao tính bằng pixel
        });

        // Hiện bản đồ lần đầu
        var iframeSrc = $('#iframeInput').val();
        iframeSrc = iframeSrc.match(/src\s*=\s*"(.*?)"/);
        var firstSrc = iframeSrc ? iframeSrc[1] : iframeSrc;
        if (firstSrc.includes("google.com/maps")) {
            $('#iframePreview').attr('src', firstSrc);
            $('#iframePreviewContainer').show();
        }

        // Hiển thị bản đồ
        $('#iframeInput').on('input', function () {
            var value = $(this).val();
            if (value && value.includes('iframe')) {
                // Trích xuất src trong iframe nếu người dùng dấn nguyên đoạn iframe
                var srcMatch = value.match(/src\s*=\s*"(.*?)"/);
                var src = srcMatch ? srcMatch[1] : value;
                $('#iframePreview').attr('src', src);
                $('#iframePreviewContainer').show();
            } else if (value.includes("https://") && (value.includes("google.com/maps") || value.includes("maps.app.goo.gl"))) {
                // Nếu người dùng chỉ dán đường link chứa src
                $('#iframePreview').attr('src', value);
                $('#iframePreviewContainer').show();
            } else {
                $('#iframePreviewContainer').hide();
                $('#iframePreview').attr('src', '');
            }
        });
    });
    function DeleteIMG() {
        if (!confirm("Bạn có chắc chắn muốn xóa ảnh này?")) return;

        var imgContainer = $(this).closest(".image-container");
        var imgPath = imgContainer.data("path");
        var IdTour = $("#IdTour").val();

        $.ajax({
            url: '/Admin/QuanLyTour/XoaAnh',
            type: 'POST',
            data: { imagePath: imgPath, IdTour: IdTour },
            success: function (res) {
                if (res.result) {
                    imgContainer.remove(); // Xóa ảnh khỏi giao diện
                } else {
                    alert(res.message || "Lỗi khi xóa ảnh.");
                }
            },
            error: function () {
                alert("Có lỗi xảy ra.");
            }
        });
    }
</script>