@model X.PagedList.IPagedList<WEBSITE_TRAVELBOOKING.Models.SysRoomHomeStay>
@using WEBSITE_TRAVELBOOKING.Helper;
@using WEBSITE_TRAVELBOOKING.Models
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common;
@{
    var typeRoom = ViewBag.CatTypeRoom as List<CatTypeRoom>;
    var ruleAction = ViewData["RuleAll"] as ModelsAndRole;
}
<div class="table-responsive">
    <table class="table table-centered w-100 dt-responsive nowrap">
        <thead class="table-light">
            <tr>
                <th>Tên phòng</th>
                <th>Tổng số phòng</th>
                <th>Loại phòng</th>
                <th>Số lượng người lớn</th>
                <th>Số lượng trẻ em</th>
                <th>Giá</th>
                <th>Trạng thái</th>
                @{
                    if (ruleAction != null && (ruleAction.IsEdit == true || ruleAction.IsDelete == true))
                    {
                        <th class="text-center" width="120px">Hàng động</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var getTypeRoom = typeRoom.FirstOrDefault(h => h.Id == item.TypeRoom);
                <tr>
                    <td>
                        <a class="text-dark" href="@Url.Action("chiTietPhong", "quanlyhomestay", new {id = item.Id, area = "Admin"})" data-toggle='modal' data-sizeModal="modal-xl">@item.Name</a>
                    </td>
                    <td>@item.TotalRoom</td>
                    <td>@getTypeRoom?.Name</td>
                    <td>@item.AdultsMax</td>
                    <td>@item.ChildrenMax</td>
                    <td>@item.Price?.ToString("N0") VNĐ</td>
                    <td>@(item.Status == true ? "Kích hoạt" : "Chưa kích hoạt")</td>
                    <td class="text-center">
                        <div class="table-action">
                            @{
                                if (ruleAction != null && ruleAction.IsEdit == true)
                                {
                                    <a href="@Url.Action("chinhSuaPhong", "quanlyhomestay", new {id = item.Id, area = "Admin"})"
                                       class="btn btn-warning btn-sm" title="Chỉnh sửa" data-toggle='modal' data-sizeModal="modal-xl">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                }
                            }
                            <a href="@Url.Action("chiTietPhong", "quanlyhomestay", new {id = item.Id, area = "Admin"})" class="btn btn-success btn-sm" title="Chi tiết" data-toggle='modal' data-sizeModal="modal-xl">
                                <i class="mdi mdi-eye"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count > 0)
    {
        <div class="d-flex align-items-center justify-content-end py-1">
            @Html.PagedListPager(Model, page => Url.Action("childIndexRoom", new { page, idHomeStay = ViewBag.idHomeStay, area = "Admin" }),
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "DataTable" }))
        </div>
    }
</div>