@model X.PagedList.IPagedList<WEBSITE_TRAVELBOOKING.Models.SysVilla>
@using WEBSITE_TRAVELBOOKING.Helper;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common
@using X.PagedList.Web.Common;
@using WEBSITE_TRAVELBOOKING.Models
@{
    var listUser = ViewBag.listUser as List<WEBSITE_TRAVELBOOKING.Models.SysUser>;
    var ruleAction = ViewData["RuleAll"] as ModelsAndRole;
}

<div class="table-responsive">
    <table class="table table-centered w-100 dt-responsive nowrap">
        <thead class="table-light">
            <tr>
                <th>Tên homestay</th>
                <td>Chủ sở hữu</td>
                <th>Địa chỉ</th>
                <th>Giá</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                @{
                    if (ruleAction != null && (ruleAction.IsEdit == true || ruleAction.IsDelete == true))
                    {
                        <th class="text-center" width="170px">Hành động</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var getUser = listUser.FirstOrDefault(h => h.Id == item.IdUser);
                <tr>
                    <td>
                        <a class="text-dark" href="@Url.Action("chiTietHomeStay", new {id = item.Id, area = "Admin"})" data-toggle='modal' data-sizeModal="modal-xl">@item.Name</a>
                    </td>
                    <td>@getUser?.Name</td>
                    <td>@item.LocalText</td>
                    <td>@item.PriceMin?.ToString("N0") VNĐ</td>
                    <td>@item.Phone</td>
                    <td>@(item.Status == true ? "Kích hoạt" : "Chưa kích hoạt")</td>
                    <td class="text-center">
                        <div class="table-action">
                            <a href="@Url.Action("IndexRoom", "quanlyhomestay", new {idHomeStay = item.Id, area = "Admin"})" class="btn btn-primary btn-sm" title="Quản lý phòng">
                                <i class="mdi mdi-clipboard-list-outline"></i>
                            </a>
                            @{
                                if (ruleAction != null && ruleAction.IsEdit == true)
                                {
                                    <a href="@Url.Action("chinhSuaHomeStay", "quanlyhomestay", new {id = item.Id, area = "Admin"})" class="btn btn-warning btn-sm" title="Chỉnh sửa" data-toggle='modal' data-sizeModal="modal-xl">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                }
                                if (ruleAction != null && ruleAction.IsDelete == true)
                                {
                                    <a href="@Url.Action("chiTietHomeStay", "quanlyhomestay", new {id = item.Id, area = "Admin"})" class="btn btn-danger btn-sm" title="Xóa" data-toggle='modal' data-sizeModal="modal-xl">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count > 0)
    {
        <div class="d-flex align-items-center justify-content-end py-1">
            @Html.PagedListPager(Model, page => Url.Action("childIndex", new { page, area = "Admin" }),
                     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "DataTable" }))
        </div>
    }
</div>