@model WEBSITE_TRAVELBOOKING.Models.SysRoomHomeStay;
@using WEBSITE_TRAVELBOOKING.Helper;
@using WEBSITE_TRAVELBOOKING.Models;
@{
    ViewData["TitleAdmin"] = "Chỉnh sửa phòng";
    var getAccount = Account.GetAccount();
    var typeRoom = ViewBag.CatTypeRoom as List<CatTypeRoom>;
    var TienNghi = ViewBag.TienNghi as List<CatAminitieseRoom>;
    var typeBed = ViewBag.CatTypeBed as List<CatBedRoom>;
}
@*Thư viện soạn thảo*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .ts-dropdown {
        background-color: white !important;
        opacity: 1 !important;
        visibility: visible !important;
        z-index: 9999;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title" id="scrollableModalTitle">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <form class="needs-validation" id="dataForm" method="post" enctype="multipart/form-data" novalidate>
        <input type="number" id="idRoom" name="Id" value="@Model.Id" hidden />
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom01">Tên phòng <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Name" placeholder="Tên phòng" value="@Model.Name" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Tổng số phòng</label>
                    <input type="number" class="form-control" name="TotalRoom" value="@Model.TotalRoom" placeholder="">
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom03">Loại chỗ nghỉ <span class="text-danger">*</span></label>
                    <select class="form-select select2" data-toggle="select2" id="" name="TypeRoom">
                        @{
                            foreach (var item in typeRoom)
                            {
                                if (item.Id == Model.TypeRoom)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom03">Loại giường <span class="text-danger">*</span></label>
                    <select class="form-select select2" data-toggle="select2" id="" name="IdTypeBed">
                        @{
                            foreach (var item in typeBed)
                            {
                                if (item.Id == Convert.ToInt32(Model.IdTypeBed))
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số lượng khách người lớn <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="AdultsMax" placeholder="" value="@Model.AdultsMax" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số lượng khách trẻ em <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="ChildrenMax" placeholder="" value="@Model.ChildrenMax" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Giá (VNĐ)<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="Price" placeholder="" value="@Model.Price" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-danger">*</span></label>
                    <select class="form-select" name="Status">
                        @if (Model.Status == true)
                        {
                            <option value="true" selected>Kích hoạt</option>
                            <option value="false">Chưa kịch hoạt</option>
                        }
                        else
                        {
                            <option value="true">Kích hoạt</option>
                            <option value="false" selected>Chưa kịch hoạt</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Phòng nỗi bật <span class="text-danger">*</span></label>
                    <select class="form-select" name="Feature">
                        @if (Model.Status == true)
                        {
                            <option value="true" selected>Có</option>
                            <option value="false">Không</option>
                        }
                        else
                        {
                            <option value="true">Có</option>
                            <option value="false" selected>Không</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    @{
                        var selectedAmenities = (Model.ListAminities ?? "").Split(',').ToList();
                    }
                    <label class="form-label" for="validationCustom02">Tiện nghi <span class="text-danger">*</span></label>
                    <select class="form-select" id="Amenities" name="Amenities" multiple required>
                        @foreach (var item in TienNghi)
                        {
                            var isSelected = selectedAmenities.Contains(item.Id.ToString());
                            <option value="@item.Id" @(isSelected ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mô tả</label>
                    <textarea class="form-control" id="summernote" name="Description" rows="6">@Html.Raw(Model.Description)</textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="example-fileinput" class="form-label">Hình ảnh</label>
                    <input type="file" name="postedFile" class="form-control" accept="image/*" multiple>
                </div>
                <!-- Hiển thị ảnh đã lưu -->
                <div id="imageList" class="row">
                    @foreach (var imgPath in Model.ListImg?.Split(',') ?? new string[] { })
                    {
                        if (!string.IsNullOrWhiteSpace(imgPath))
                        {
                            var fileName = System.IO.Path.GetFileName(imgPath);
                            <div class="col-2">
                                <div class="card mb-1 shadow-none border image-container" data-path="@imgPath">
                                    <div class="p-2">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <img src="@Common.GetImagePath(Url.Content(imgPath))" class="avatar-sm rounded" alt="file-image" />
                                            </div>
                                            <div class="col ps-0">
                                                <a href="javascript:void(0);" class="text-muted fw-bold">@fileName</a>
                                            </div>
                                            <div class="col-auto">
                                                <!-- Button -->
                                                <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-3 btn-delete-image" onclick="DeleteIMG()" title="Xóa ảnh">
                                                    ✖
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("chinhSuaPhong", new { area = "Admin" })" class="btn bg-success-subtle edit text-success waves-effect text-start">
        Cập nhật
    </button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function () {
        const select = document.getElementById('Amenities');
        if (select) {
            new TomSelect(select, {
                plugins: ['remove_button'],
                placeholder: 'Chọn tiện nghi'
            });
        }
        $('#summernote').summernote({
            height: 200 // chiều cao tính bằng pixel
        });
    });
    function DeleteIMG() {
        if (!confirm("Bạn có chắc chắn muốn xóa ảnh này?")) return;

        var imgContainer = $(this).closest(".image-container");
        var imgPath = imgContainer.data("path");
        var idRoom = $("#idRoom").val();

        $.ajax({
            url: '/Admin/quanlyhomestay/XoaAnhPhong',
            type: 'POST',
            data: { imagePath: imgPath, idRoom: idRoom },
            success: function (res) {
                if (res.result) {
                    imgContainer.remove(); // Xóa ảnh khỏi giao diện
                } else {
                    alert(res.message || "Lỗi khi xóa ảnh.");
                }
            },
            error: function () {
                alert("Có lỗi xảy ra.");
            }
        });
    }
</script>