@model WEBSITE_TRAVELBOOKING.Models.SysRoomHomeStay;
@using WEBSITE_TRAVELBOOKING.Helper;
@using WEBSITE_TRAVELBOOKING.Models;
@{
    ViewData["TitleAdmin"] = "Thêm mới phòng";
    var getAccount = Account.GetAccount();
    var typeRoom = ViewBag.CatTypeRoom as List<CatTypeRoom>;
    var TienNghi = ViewBag.TienNghi as List<CatAminitieseRoom>;
    var typeBed = ViewBag.CatTypeBed as List<CatBedRoom>;
}
@*Thư viện soạn thảo*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .ts-dropdown {
        background-color: white !important;
        opacity: 1 !important;
        visibility: visible !important;
        z-index: 9999;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title" id="scrollableModalTitle">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
</div>
<div class="modal-body">
    <form class="needs-validation" id="dataForm" method="post" enctype="multipart/form-data" novalidate>
        <input type="number" name="IdHomeStay" value="@ViewBag.IdHomeStay" hidden />
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom01">Tên phòng <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="Name" placeholder="Tên phòng" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Tổng số phòng</label>
                    <input type="number" class="form-control" name="TotalRoom" placeholder="">
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom03">Loại phòng nghỉ <span class="text-danger">*</span></label>
                    <select class="form-select select2" data-toggle="select2" id="" name="TypeRoom">
                        @foreach (var item in typeRoom)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn loại phòng.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom03">Loại giường <span class="text-danger">*</span></label>
                    <select class="form-select select2" data-toggle="select2" id="" name="IdTypeBed">
                        @foreach (var item in typeBed)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <div class="invalid-feedback">
                        Vui lòng chọn loại giường.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số lượng khách người lớn <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="AdultsMax" placeholder="" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số lượng khách trẻ em <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="ChildrenMax" placeholder="" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Giá (VNĐ)<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" name="Price" placeholder="" required>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-danger">*</span></label>
                    <select class="form-select" name="Status">
                        <option value="true">Kích hoạt</option>
                        <option value="false">Chưa kịch hoạt</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Phòng nổi bật <span class="text-danger">*</span></label>
                    <select class="form-select" name="Feature">
                        <option value="true">Có</option>
                        <option value="false">Không</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Tiện nghi <span class="text-danger">*</span></label>
                    <select class="form-select" id="Amenities" name="Amenities" multiple required>
                        @foreach (var item in TienNghi)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mô tả</label>
                    <textarea class="form-control" id="summernote" name="Description" rows="6"></textarea>
                    <div class="invalid-feedback">
                        Vui lòng nhập đầy đủ thông tin.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="example-fileinput" class="form-label">Hình ảnh</label>
                    <input type="file" name="postedFile" class="form-control" accept="image/*" multiple>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("themMoiPhong", new { area = "Admin" })" class="btn bg-success-subtle create text-success waves-effect text-start">
        Cập nhật
    </button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function () {
        const select = document.getElementById('Amenities');
        if (select) {
            new TomSelect(select, {
                plugins: ['remove_button'],
                placeholder: 'Chọn tiện nghi'
            });
        }
        $('#summernote').summernote({
            height: 200 // chiều cao tính bằng pixel
        });
        $('#summernote2').summernote({
            height: 200 // chiều cao tính bằng pixel
        });
    });
</script>