@model WEBSITE_TRAVELBOOKING.Models.SysUser;
@{
    // Layout = "_AdminLayout";
    ViewData["TitleAdmin"] = "Chi tiết người dùng";
    var getRole = ViewBag.getRole as WEBSITE_TRAVELBOOKING.Models.SysRole;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="dataForm" method="post" action="themMoiTaiKhoan" novalidate>
        <input type="number" name="Id" value="@Model.Id" hidden />

        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom01">Tên đối tác</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" readonly>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Email</label>
                    <input type="email" class="form-control" name="Email" value="@Model.Email" readonly>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Địa chỉ</label>
                    <input type="text" class="form-control" name="Local" value="@Model.Local" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom04">Mật khẩu</label>
                    <input type="password" class="form-control" name="Password" placeholder="Mật khẩu" value="@Model.Password" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("xoaTaiKhoan", new { id = Model.Id })" class="btn bg-danger-subtle delete text-danger waves-effect text-start">
        Xóa đối tác
    </button>
</div>
@* <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">@ViewData["TitleAdmin"]</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="text-center d-block mb-4">
                                <img src="~/assets/images/users/avatar-2.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="ps-lg-4">
                                <h3 class="mt-0">Thông tin người dùng</h3>
                                <div class="mt-3">
                                    <p class="text-muted">
                                        <strong>Tên người dùng: </strong>
                                        @Model.Name
                                    </p>
                                    <p class="text-muted">
                                        <strong>Email: </strong>
                                        @Model.Email
                                    </p>
                                    <p class="text-muted">
                                        <strong>Địa chỉ: </strong>
                                        @Model.Local
                                    </p>
                                    <p class="text-muted">
                                        <strong>Tài khoản: </strong>
                                        @Model.Username
                                    </p>

                                    <p class="text-muted">
                                        <strong>Nhóm quyền: </strong>
                                        @getRole.Name
                                    </p>
                                    <p class="text-muted">
                                        <strong>Trạng thái: </strong>
                                        @(Model.Status == true ? "Kích hoạt" : "Chưa kích hoạt")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-danger" href="@Url.Action("xoaTaiKhoan", "quanLyTaiKhoan", new {id = Model.Id})">Xóa</a>
                    <a href="@Url.Action("Index", "quanlyTaiKhoan")" class="btn btn-outline-secondary" type="submit">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</div> *@