@model WEBSITE_TRAVELBOOKING.Models.SysCar;
@using WEBSITE_TRAVELBOOKING.Helper;
@using WEBSITE_TRAVELBOOKING.Models
@{
    // Layout = "_AdminLayout";
    ViewData["TitleAdmin"] = "Chi tiết xe";
    var getUser = ViewBag.getUser as WEBSITE_TRAVELBOOKING.Models.SysUser;
    var ruleAction = ViewData["RuleAll"] as ModelsAndRole;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="dataForm" method="post" novalidate>
        <div class="row">
            <div class="col-md-12 mb-2">
                <div class="mainslider w-10">
                    <div class="slider">
                        @{
                            var listHinhAnh = "";
                            if (string.IsNullOrEmpty(Model.ListImg))
                            {
                                listHinhAnh = "/AppData/no-image.png";
                                <div>
                                    <img src="@listHinhAnh" alt="image" class="img-fluid img-thumbnail" width="300" />
                                </div>
                            }
                            else
                            {
                                var listIMG = Model.ListImg.Split(',');
                                foreach (var item in listIMG)
                                {
                                    listHinhAnh = Common.GetImagePath(item);
                                    <div>
                                        <img src="@listHinhAnh" alt="image" class="img-fluid img-thumbnail" width="300" />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <h4 class="mt-2 mb-2">@Model.Name</h4>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="form-label text-end col-md-4">Số điện thoại:</label>
                    <div class="col-md-8">
                        <p class="form-control-static">@Model.Phone</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="form-label text-end col-md-4">Địa điểm nhận xe:</label>
                    <div class="col-md-8">
                        <p class="form-control-static">@Model.LocalText</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="form-label text-end col-md-4">Giá:</label>
                    <div class="col-md-8">
                        <p class="form-control-static">@Model.Price VND</p>
                    </div>
                </div>
            </div>

            <h4 class="mt-2">Mô tả về xe</h4>
            <div class="mb-3">
                <div class="p-2" style="text-align:justify">@Html.Raw(Model.Description)</div>
            </div>
            <div class="col-md-6">
                <h4 class="mt-2">Tiện nghi</h4>
                <div class="mb-3">
                    <div class="p-2" style="text-align:justify">@Html.Raw(Model.Amenities)</div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="mt-2">Thông số kỹ thuật</h4>
                <div class="mb-3">
                    <div class="p-2" style="text-align:justify">@Html.Raw(Model.Specifications)</div>
                </div>
            </div>

            <h4 class="">Vị trí bản đồ</h4>
            <div class="mb-3">
                <input type="text" class="form-control" id="iframeInput" name="LocalIframe" value="@Model.LocalIframe" placeholder="Dán đường dẫn iframe Google Maps vào đây" hidden />
            </div>
            <div class="mb-3">
                <div id="iframePreviewContainer" class="border rounded" style="height: 300px; overflow: hidden; display: none;">
                    <iframe id="iframePreview" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; height: 100%; border: 0;"></iframe>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    @if (ruleAction != null && ruleAction.IsDelete == true)
    {
        <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("xoaThueXe", new { id = Model.Id, area = "Admin" })" class="btn bg-danger-subtle delete text-danger waves-effect text-start">
            Xóa
        </button>
    }
</div>
<script>
    $(document).ready(function () {
        // Hiện bản đồ lần đầu
        var iframeSrc = $('#iframeInput').val();
        iframeSrc = iframeSrc.match(/src\s*=\s*"(.*?)"/);
        var firstSrc = iframeSrc ? iframeSrc[1] : iframeSrc;
        $('#iframePreview').attr('src', firstSrc);
        $('#iframePreviewContainer').show();

    });
    $('.slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: true,
        autoplay: true,        // tự động chuyển
        autoplaySpeed: 2000,   // thời gian chuyển (ms)
        arrows: false // 👈 Tắt cả hai nút
    });
</script>