@model X.PagedList.IPagedList<WEBSITE_TRAVELBOOKING.Models.SysCar>
@using X.PagedList.Mvc.Core.Common 
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using CommonMode = X.PagedList.Web.Common.PagedListDisplayMode

@{
    Layout = "_Layout";
    ViewData["Title"] = "Xe";
    ViewData["Detail"] = true;
}

<div class="container pt-5 pt-xl-8">
    <div class="row mb-5 mb-lg-8 mt-xl-1">
        <div class="col-lg-4 col-xl-3 order-lg-1 width-md-50">
            <div class="navbar-expand-lg navbar-expand-lg-collapse-block">
                <button class="btn d-lg-none mb-5 p-0 collapsed" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="far fa-caret-square-down text-primary font-size-20 card-btn-arrow ml-0"></i>
                    <span class="text-primary ml-2">Sidebar</span>
                </button>
                <div id="sidebar" class="collapse navbar-collapse">
                    <div class="mb-6 w-100">
                        <div class="pb-4 mb-2">
                            <div class="sidebar border rounded">
                                <div class="p-4 m-1">
                                    <!-- Input -->
                                    <span class="d-block text-gray-1  font-weight-normal mb-0 text-left">Pick-up From</span>
                                    <div class="mb-4">
                                        <div class="input-group border-bottom border-width-2 border-color-1">
                                            <i class="flaticon-pin-1 d-flex align-items-center mr-2 text-primary font-weight-semi-bold font-size-22"></i>
                                            <input type="text" class="form-control font-size-16 shadow-none hero-form font-weight-bold border-0 p-0" placeholder="London" aria-label="Keyword or title" aria-describedby="keywordInputAddon">
                                        </div>
                                    </div>
                                    <!-- End Input -->
                                    <!-- Input -->
                                    <span class="d-block text-gray-1  font-weight-normal mb-0 text-left">Drop-of to</span>
                                    <div class="mb-4">
                                        <div class="input-group border-bottom border-width-2 border-color-1">
                                            <i class="flaticon-pin-1 d-flex align-items-center mr-2 text-primary font-weight-semi-bold font-size-22"></i>
                                            <input type="text" class="form-control font-size-16 shadow-none hero-form font-weight-bold border-0 p-0" placeholder="New York" aria-label="Keyword or title" aria-describedby="keywordInputAddon">
                                        </div>
                                    </div>
                                    <!-- End Input -->
                                    <!-- Input -->
                                    <span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Pick Up Date</span>
                                    <div class="mb-4">
                                        <div class="border-bottom border-width-2 border-color-1">
                                            <div id="datepickerWrapperPick" class="u-datepicker input-group">
                                                <div class="input-group-prepend">
                                                    <span class="d-flex align-items-center mr-3 font-size-21">
                                                        <i class="flaticon-calendar text-primary font-weight-semi-bold"></i>
                                                    </span>
                                                </div>
                                                <input class="js-range-datepicker font-size-16 shadow-none font-weight-bold form-control hero-form bg-transparent border-0 flatpickr-input p-0" type="text" placeholder="July 7/2020" aria-label="July 7/2020" data-rp-wrapper="#datepickerWrapperPick" data-rp-date-format="M d /Y" readonly="readonly" style="width: 0px;">
                                                <div class="flatpickr-calendar animate" tabindex="-1">
                                                    <div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><span class="cur-month">May </span><div class="numInputWrapper"><input class="numInput cur-year" type="text" pattern="\d*" tabindex="-1" aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer">
                                                        <div class="flatpickr-rContainer">
                                                            <div class="flatpickr-weekdays">
                                                                <div class="flatpickr-weekdaycontainer">
                                                                    <span class="flatpickr-weekday">
                                                                        Mo
                                                                    </span><span class="flatpickr-weekday">Tu</span><span class="flatpickr-weekday">We</span><span class="flatpickr-weekday">Th</span><span class="flatpickr-weekday">Fr</span><span class="flatpickr-weekday">Sa</span><span class="flatpickr-weekday">
                                                                        Su
                                                                    </span>
                                                                </div>
                                                            </div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="April 28, 2025" tabindex="-1">28</span><span class="flatpickr-day prevMonthDay" aria-label="April 29, 2025" tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="April 30, 2025" tabindex="-1">30</span><span class="flatpickr-day " aria-label="May 1, 2025" tabindex="-1">1</span><span class="flatpickr-day " aria-label="May 2, 2025" tabindex="-1">2</span><span class="flatpickr-day " aria-label="May 3, 2025" tabindex="-1">3</span><span class="flatpickr-day " aria-label="May 4, 2025" tabindex="-1">4</span><span class="flatpickr-day " aria-label="May 5, 2025" tabindex="-1">5</span><span class="flatpickr-day " aria-label="May 6, 2025" tabindex="-1">6</span><span class="flatpickr-day " aria-label="May 7, 2025" tabindex="-1">7</span><span class="flatpickr-day " aria-label="May 8, 2025" tabindex="-1">8</span><span class="flatpickr-day " aria-label="May 9, 2025" tabindex="-1">9</span><span class="flatpickr-day " aria-label="May 10, 2025" tabindex="-1">10</span><span class="flatpickr-day " aria-label="May 11, 2025" tabindex="-1">11</span><span class="flatpickr-day " aria-label="May 12, 2025" tabindex="-1">12</span><span class="flatpickr-day " aria-label="May 13, 2025" tabindex="-1">13</span><span class="flatpickr-day " aria-label="May 14, 2025" tabindex="-1">14</span><span class="flatpickr-day " aria-label="May 15, 2025" tabindex="-1">15</span><span class="flatpickr-day " aria-label="May 16, 2025" tabindex="-1">16</span><span class="flatpickr-day " aria-label="May 17, 2025" tabindex="-1">17</span><span class="flatpickr-day " aria-label="May 18, 2025" tabindex="-1">18</span><span class="flatpickr-day today" aria-label="May 19, 2025" aria-current="date" tabindex="-1">19</span><span class="flatpickr-day " aria-label="May 20, 2025" tabindex="-1">20</span><span class="flatpickr-day " aria-label="May 21, 2025" tabindex="-1">21</span><span class="flatpickr-day " aria-label="May 22, 2025" tabindex="-1">22</span><span class="flatpickr-day " aria-label="May 23, 2025" tabindex="-1">23</span><span class="flatpickr-day " aria-label="May 24, 2025" tabindex="-1">24</span><span class="flatpickr-day " aria-label="May 25, 2025" tabindex="-1">25</span><span class="flatpickr-day " aria-label="May 26, 2025" tabindex="-1">26</span><span class="flatpickr-day " aria-label="May 27, 2025" tabindex="-1">27</span><span class="flatpickr-day " aria-label="May 28, 2025" tabindex="-1">28</span><span class="flatpickr-day " aria-label="May 29, 2025" tabindex="-1">29</span><span class="flatpickr-day " aria-label="May 30, 2025" tabindex="-1">30</span><span class="flatpickr-day " aria-label="May 31, 2025" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay" aria-label="June 1, 2025" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay" aria-label="June 2, 2025" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay" aria-label="June 3, 2025" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay" aria-label="June 4, 2025" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay" aria-label="June 5, 2025" tabindex="-1">5</span><span class="flatpickr-day nextMonthDay" aria-label="June 6, 2025" tabindex="-1">6</span><span class="flatpickr-day nextMonthDay" aria-label="June 7, 2025" tabindex="-1">7</span><span class="flatpickr-day nextMonthDay" aria-label="June 8, 2025" tabindex="-1">8</span></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Datepicker -->
                                        </div>
                                    </div>
                                    <!-- End Input -->
                                    <!-- Input -->
                                    <span class="d-block text-gray-1 font-weight-normal mb-0 text-left">Return Time</span>
                                    <div class="mb-4 pb-1">
                                        <div class="border-bottom border-width-2 border-color-1">
                                            <div id="datepickerWrapperReturn" class="u-datepicker input-group">
                                                <div class="input-group-prepend">
                                                    <span class="d-flex align-items-center mr-3 font-size-21">
                                                        <i class="flaticon-calendar text-primary font-weight-semi-bold"></i>
                                                    </span>
                                                </div>
                                                <input class="js-range-datepicker font-size-16 shadow-none font-weight-bold form-control hero-form bg-transparent border-0 flatpickr-input p-0" type="text" placeholder="Aug 25/2020" aria-label="Aug 25/2020" data-rp-wrapper="#datepickerWrapperReturn" data-rp-date-format="M d /Y" readonly="readonly" style="width: 0px;">
                                                <div class="flatpickr-calendar animate" tabindex="-1">
                                                    <div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span><div class="flatpickr-month"><div class="flatpickr-current-month"><span class="cur-month">May </span><div class="numInputWrapper"><input class="numInput cur-year" type="text" pattern="\d*" tabindex="-1" aria-label="Year"><span class="arrowUp"></span><span class="arrowDown"></span></div></div></div><span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span></div><div class="flatpickr-innerContainer">
                                                        <div class="flatpickr-rContainer">
                                                            <div class="flatpickr-weekdays">
                                                                <div class="flatpickr-weekdaycontainer">
                                                                    <span class="flatpickr-weekday">
                                                                        Mo
                                                                    </span><span class="flatpickr-weekday">Tu</span><span class="flatpickr-weekday">We</span><span class="flatpickr-weekday">Th</span><span class="flatpickr-weekday">Fr</span><span class="flatpickr-weekday">Sa</span><span class="flatpickr-weekday">
                                                                        Su
                                                                    </span>
                                                                </div>
                                                            </div><div class="flatpickr-days" tabindex="-1"><div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="April 28, 2025" tabindex="-1">28</span><span class="flatpickr-day prevMonthDay" aria-label="April 29, 2025" tabindex="-1">29</span><span class="flatpickr-day prevMonthDay" aria-label="April 30, 2025" tabindex="-1">30</span><span class="flatpickr-day " aria-label="May 1, 2025" tabindex="-1">1</span><span class="flatpickr-day " aria-label="May 2, 2025" tabindex="-1">2</span><span class="flatpickr-day " aria-label="May 3, 2025" tabindex="-1">3</span><span class="flatpickr-day " aria-label="May 4, 2025" tabindex="-1">4</span><span class="flatpickr-day " aria-label="May 5, 2025" tabindex="-1">5</span><span class="flatpickr-day " aria-label="May 6, 2025" tabindex="-1">6</span><span class="flatpickr-day " aria-label="May 7, 2025" tabindex="-1">7</span><span class="flatpickr-day " aria-label="May 8, 2025" tabindex="-1">8</span><span class="flatpickr-day " aria-label="May 9, 2025" tabindex="-1">9</span><span class="flatpickr-day " aria-label="May 10, 2025" tabindex="-1">10</span><span class="flatpickr-day " aria-label="May 11, 2025" tabindex="-1">11</span><span class="flatpickr-day " aria-label="May 12, 2025" tabindex="-1">12</span><span class="flatpickr-day " aria-label="May 13, 2025" tabindex="-1">13</span><span class="flatpickr-day " aria-label="May 14, 2025" tabindex="-1">14</span><span class="flatpickr-day " aria-label="May 15, 2025" tabindex="-1">15</span><span class="flatpickr-day " aria-label="May 16, 2025" tabindex="-1">16</span><span class="flatpickr-day " aria-label="May 17, 2025" tabindex="-1">17</span><span class="flatpickr-day " aria-label="May 18, 2025" tabindex="-1">18</span><span class="flatpickr-day today" aria-label="May 19, 2025" aria-current="date" tabindex="-1">19</span><span class="flatpickr-day " aria-label="May 20, 2025" tabindex="-1">20</span><span class="flatpickr-day " aria-label="May 21, 2025" tabindex="-1">21</span><span class="flatpickr-day " aria-label="May 22, 2025" tabindex="-1">22</span><span class="flatpickr-day " aria-label="May 23, 2025" tabindex="-1">23</span><span class="flatpickr-day " aria-label="May 24, 2025" tabindex="-1">24</span><span class="flatpickr-day " aria-label="May 25, 2025" tabindex="-1">25</span><span class="flatpickr-day " aria-label="May 26, 2025" tabindex="-1">26</span><span class="flatpickr-day " aria-label="May 27, 2025" tabindex="-1">27</span><span class="flatpickr-day " aria-label="May 28, 2025" tabindex="-1">28</span><span class="flatpickr-day " aria-label="May 29, 2025" tabindex="-1">29</span><span class="flatpickr-day " aria-label="May 30, 2025" tabindex="-1">30</span><span class="flatpickr-day " aria-label="May 31, 2025" tabindex="-1">31</span><span class="flatpickr-day nextMonthDay" aria-label="June 1, 2025" tabindex="-1">1</span><span class="flatpickr-day nextMonthDay" aria-label="June 2, 2025" tabindex="-1">2</span><span class="flatpickr-day nextMonthDay" aria-label="June 3, 2025" tabindex="-1">3</span><span class="flatpickr-day nextMonthDay" aria-label="June 4, 2025" tabindex="-1">4</span><span class="flatpickr-day nextMonthDay" aria-label="June 5, 2025" tabindex="-1">5</span><span class="flatpickr-day nextMonthDay" aria-label="June 6, 2025" tabindex="-1">6</span><span class="flatpickr-day nextMonthDay" aria-label="June 7, 2025" tabindex="-1">7</span><span class="flatpickr-day nextMonthDay" aria-label="June 8, 2025" tabindex="-1">8</span></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Datepicker -->
                                        </div>
                                    </div>
                                    <!-- End Input -->

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary height-60 w-100 font-weight-bold mb-xl-0 mb-lg-1 transition-3d-hover"><i class="flaticon-magnifying-glass mr-2"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidenav border border-color-8 rounded-xs">
                            <!-- Accordiaon -->
                            <div id="RatingAccordion" class="accordion rounded shadow-none border-bottom">
                                <div class="card-collapse" id="shopRatingHeadingOne">
                                    <h3 class="mb-0">
                                        <button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#shopRatingOne" aria-expanded="false" aria-controls="shopRatingOne">
                                            <span class="row align-items-center">
                                                <span class="col-9">
                                                    <span class="font-weight-bold font-size-17 text-dark mb-3">Sao đánh giá</span>
                                                </span>
                                                <span class="col-3 text-right">
                                                    <span class="card-btn-arrow">
                                                        <span class="fas fa-chevron-down small"></span>
                                                    </span>
                                                </span>
                                            </span>
                                        </button>
                                    </h3>
                                </div>
                                <div id="shopRatingOne" class="collapse show" aria-labelledby="shopRatingHeadingOne" data-parent="#RatingAccordion">
                                    <div class="card-body pt-0 mt-1 px-5">
                                        <!-- Checkboxes -->
                                        <div class="form-group font-size-14 text-lh-md text-secondary mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input filter-rating" id="star5" data-stars="5">
                                                <label class="custom-control-label text-lh-inherit text-color-1" for="star5">
                                                    <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                                        <div class="green-lighter ml-1 letter-spacing-2">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group font-size-14 text-lh-md text-secondary mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input filter-rating" id="star4" data-stars="4">
                                                <label class="custom-control-label text-lh-inherit text-color-1" for="star4">
                                                    <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                                        <div class="green-lighter ml-1 letter-spacing-2">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group font-size-14 text-lh-md text-secondary mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input filter-rating" id="star3" data-stars="3">
                                                <label class="custom-control-label text-lh-inherit text-color-1" for="star3">
                                                    <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                                        <div class="green-lighter ml-1 letter-spacing-2">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group font-size-14 text-lh-md text-secondary mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input filter-rating" id="star2" data-stars="2">
                                                <label class="custom-control-label text-lh-inherit text-color-1" for="star2">
                                                    <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                                        <div class="green-lighter ml-1 letter-spacing-2">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group font-size-14 text-lh-md text-secondary mb-3">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input filter-rating" id="star1" data-stars="1">
                                                <label class="custom-control-label text-lh-inherit text-color-1" for="star1">
                                                    <div class="d-inline-flex align-items-center font-size-13 text-lh-1 text-primary">
                                                        <div class="green-lighter ml-1 letter-spacing-2">
                                                            <i class="fas fa-star"></i>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="shopCartAccordion" class="accordion rounded shadow-none">
                                <div class="border-0">
                                    <div class="card-collapse" id="shopCardHeadingOne">
                                        <h3 class="mb-0">
                                            <button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#shopCardOne" aria-expanded="false" aria-controls="shopCardOne">
                                                <span class="row align-items-center">
                                                    <span class="col-9">
                                                        <span class="d-block font-size-lg-15 font-size-17 font-weight-bold text-dark">Phân khúc giá ($)</span>
                                                    </span>
                                                    <span class="col-3 text-right">
                                                        <span class="card-btn-arrow">
                                                            <span class="fas fa-chevron-down small"></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </button>
                                        </h3>
                                    </div>
                                    <div id="shopCardOne" class="collapse show" aria-labelledby="shopCardHeadingOne" data-parent="#shopCartAccordion">
                                        <div class="card-body pt-0 px-5">
                                            <div class="pb-3 mb-1 d-flex text-lh-1">
                                                <span>£</span>
                                                <span id="rangeSliderExample3MinResult" class="">200</span>
                                                <span class="mx-0dot5"> — </span>
                                                <span>£</span>
                                                <span id="rangeSliderExample3MaxResult" class="">3456</span>
                                            </div>
                                            <span class="irs js-irs-0 u-range-slider height-35">
                                                <span class="irs">
                                                    <span class="irs-line" tabindex="0">
                                                        <span class="irs-line-left"></span>
                                                        <span class="irs-line-mid"></span>
                                                        <span class="irs-line-right"></span>
                                                    </span>
                                                    <span class="irs-min" style="display: none;">0</span>
                                                    <span class="irs-max" style="display: none;">1</span>
                                                    <span class="irs-from" style="display: none; left: 0%;">0</span>
                                                    <span class="irs-to" style="display: none; left: 0%;">0</span>
                                                    <span class="irs-single" style="display: none; left: 0%;">0</span>
                                                </span>
                                                <span class="irs-grid"></span>
                                                <span class="irs-bar" style="left: 10.3217%; width: 84.5501%;"></span>
                                                <span class="irs-shadow shadow-from" style="display: none;"></span>
                                                <span class="irs-shadow shadow-to" style="display: none;"></span>
                                                <span class="irs-slider from type_last" style="left: 5.19349%;"></span>
                                                <span class="irs-slider to" style="left: 89.7436%;"></span>
                                            </span>
                                            <input class="js-range-slider irs-hidden-input" id="price-range" type="text" name="price_range" data-extra-classes="u-range-slider height-35" data-type="double" data-grid="false" data-min="0" data-max="3456" data-from="200" data-to="3456" data-prefix="$" data-result-min="#rangeSliderExample3MinResult" data-result-max="#rangeSliderExample3MaxResult" tabindex="-1" readonly="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cityCategoryAccordion" class="accordion rounded-0 shadow-none border-top">
                                <div class="border-0">
                                    <div class="card-collapse" id="cityCategoryHeadingOne">
                                        <h3 class="mb-0">
                                            <button type="button" class="btn btn-link btn-block card-btn py-2 px-5 text-lh-3 collapsed" data-toggle="collapse" data-target="#cityCategoryOne" aria-expanded="false" aria-controls="cityCategoryOne">
                                                <span class="row align-items-center">
                                                    <span class="col-9">
                                                        <span class="font-weight-bold font-size-17 text-dark mb-3">Thành phố</span>
                                                    </span>
                                                    <span class="col-3 text-right">
                                                        <span class="card-btn-arrow">
                                                            <span class="fas fa-chevron-down small"></span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </button>
                                        </h3>
                                    </div>
                                    <div id="cityCategoryOne" class="collapse show" aria-labelledby="cityCategoryHeadingOne" data-parent="#cityCategoryAccordion">
                                        <div class="card-body pt-0 mt-1 px-5 pb-4">
                                            @* @if (countryCounts != null)
                                            {
                                                foreach (var item in countryCounts)
                                                {
                                                    var name = item.Name.ToString();
                                                    var count = item.Count;
                                                    var id = "country_" + name.ToLower().Replace(" ", "").Replace(".", "").Replace(",", "").Replace("'", "");

                                                    <div class="form-group font-size-14 text-lh-md text-secondary mb-3 flex-center-between">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="@id" name="countryFilter" value="@item.Id">
                                                            <label class="custom-control-label" for="@id">@name</label>
                                                        </div>
                                                        <span>@count</span>
                                                    </div>
                                                }
                                            } *@

                                            <!-- End Checkboxes -->
                                            <!-- View More - Collapse -->
                                            <div class="collapse" id="collapseBrand3">
                                                <div class="form-group font-size-14 text-lh-md text-secondary mb-3 flex-center-between">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="gucci">
                                                        <label class="custom-control-label" for="gucci">Gucci</label>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-3">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="mango">
                                                        <label class="custom-control-label" for="mango">Mango</label>
                                                    </div>
                                                    <span>1</span>
                                                </div>
                                            </div>
                                            <!-- End View More - Collapse -->
                                            <!-- Link -->
                                            <a class="link link-collapse small font-size-1" data-toggle="collapse" href="#collapseBrand3" role="button" aria-expanded="false" aria-controls="collapseBrand3">
                                                <span class="link-collapse__default font-size-14">Show all 25</span>
                                                <span class="link-collapse__active font-size-14">Show less</span>
                                            </a>
                                            <!-- End Link -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9 order-md-1 order-lg-2 pb-5 pb-lg-0">
            <!-- Shop-control-bar Title -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="font-size-21 font-weight-bold mb-0 text-lh-1">
                    @{
                        var username = ViewBag.userName == null ? $"Hiện có {ViewBag.HotelsCountByUser} phòng trống" : $"{ViewBag.userName}: Hiện có {ViewBag.HotelsCountByUser} phòng trống";
                    }
                    @username
                </h3>
                <ul class="nav tab-nav-shop flex-nowrap" id="pills-tab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link font-size-22 p-0 ml-2 active" id="pills-one-example1-tab" data-toggle="pill" href="#pills-one-example1" role="tab" aria-controls="pills-one-example1" aria-selected="false">
                            <div class="d-md-flex justify-content-md-center align-items-md-center">
                                <i class="fa fa-th"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End shop-control-bar Title -->
            <!-- Slick Tab carousel -->
            <div class="u-slick__tab">
                <!-- Nav Links -->
                <div class="mb-5">
                    <ul class="nav flex-nowrap border border-radius-3 tab-nav align-items-center py-2 px-0" role="tablist">
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1">
                            <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-wd-5 font-weight-normal font-size-15 ">
                                Khuyến khích
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                            <select class="js-select selectpicker dropdown-select bootstrap-select__custom-nav w-auto" data-style="btn-sm py-1 px-4 px-wd-5 font-weight-normal font-size-15  text-gray-1 d-flex align-items-center">
                                <option value="one" selected="">Giá</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                            </select>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                            <select class="js-select selectpicker dropdown-select bootstrap-select__custom-nav w-auto" data-style="btn-sm py-1 px-4 px-wd-5 font-weight-normal font-size-15  text-gray-1 d-flex align-items-center">
                                <option value="one" selected="">Sao</option>
                                <option value="two">Two</option>
                                <option value="three">Three</option>
                                <option value="four">Four</option>
                            </select>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                            <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-wd-5 font-weight-normal font-size-15 ">
                                Đánh giá của khách
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                            <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-wd-5 font-weight-normal font-size-15 ">
                                Khoảng cách
                            </a>
                        </li>
                        <li class="nav-item d-flex align-items-center flex-shrink-0 flex-xl-shrink-1 border-left">
                            <a href="#" class="nav-link font-weight-normal text-gray-1 text-lh-1dot6 py-1 px-4 px-wd-5 font-weight-normal font-size-15 ">
                                Được đánh giá hàng đầu
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Links -->
                <!-- Tab Content -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-one-example1" role="tabpanel" aria-labelledby="pills-one-example1-tab" data-target-group="groups">
                        <div class="row">
                            @foreach (var car in Model)
                            {
                                var firstImage = car.ListImg?.Split(',').FirstOrDefault() ?? "/assets/img/no-image.png";
                                <div class="col-md-6 col-xl-4 mb-3 mb-md-4 pb-1">
                                    <div class="card transition-3d-hover shadow-hover-2">
                                        <div class="position-relative">
                                            <a href="../cars/cars-single-v1.html" class="d-block gradient-overlay-half-bg-gradient-v5">
                                                <img class="card-img-top" src="@firstImage">
                                            </a>
                                            <div class="position-absolute top-0 right-0 pt-5 pr-3">
                                                <button type="button" class="btn btn-sm btn-icon text-white rounded-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save for later">
                                                    <span class="flaticon-heart-1 font-size-20"></span>
                                                </button>
                                            </div>
                                            <div class="position-absolute bottom-0 left-0 right-0">
                                                <div class="px-3 pb-2">
                                                    <a href="../cars/cars-single-v1.html">
                                                        <span class="text-white font-weight-bold font-size-17">@car.Name </span>
                                                    </a>
                                                    <div class="text-white my-2">
                                                        <span class="mr-1 font-size-14">Giá</span>
                                                        <span class="font-weight-bold font-size-19">@car.Price?.ToString("N0") VNĐ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-absolute top-0 left-0 pt-5 pl-3">
                                            @if (car.Featured == true)
                                            {
                                                <a href="../cars/cars-single-v1.html">
                                                    <span class="badge badge-pill bg-white text-primary px-3 py-2 font-size-14 font-weight-normal">Nổi bật</span>
                                                </a>
                                            } 
                                        </div>
                                        <div class="card-body px-4 py-3 border-bottom">
                                            <a href="../cars/cars-single-v1.html" class="d-block">
                                                <div class="d-flex align-items-center font-size-14 text-gray-1">
                                                    <i class="icon flaticon-placeholder mr-2 font-size-20"></i>@car.LocalText
                                                </div>
                                            </a>
                                            <div class="mt-1">
                                                <span class="py-1 font-size-14 border-radius-3 font-weight-normal pagination-v2-arrow-color">@car.Score/5 Xuất sắc</span>
                                                <span class="font-size-14 text-gray-1 ml-2">(@car.Reviews Đánh giá)</span>
                                            </div>
                                        </div>
                                        <div class="px-4 pt-3 pb-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="media mb-2 text-gray-1 align-items-center">
                                                            <small class="mr-2">
                                                                <small class="flaticon-meter font-size-16"></small>
                                                            </small>
                                                            <div class="media-body font-size-1">
                                                                @car.Mile
                                                            </div>
                                                        </li>
                                                        <li class="media mb-2 text-gray-1 align-items-center">
                                                            <small class="mr-2">
                                                                <small class="flaticon-cardinal-points font-size-16"></small>
                                                            </small>
                                                            <div class="media-body font-size-1">
                                                                @car.Oil
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="list-unstyled mb-0">
                                                        <li class="media mb-2 text-gray-1 align-items-center">
                                                            <small class="mr-2">
                                                                <small class="flaticon-fuel font-size-16"></small>
                                                            </small>
                                                            <div class="media-body font-size-1">
                                                                @car.Regime
                                                            </div>
                                                        </li>
                                                        <li class="media mb-2 text-gray-1 align-items-center">
                                                            <small class="mr-2">
                                                                <small class="flaticon-event font-size-16"></small>
                                                            </small>
                                                            <div class="media-body font-size-1">
                                                                @car.Life
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>


                        <nav aria-label="Page navigation">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                                     new PagedListRenderOptions
                            {
                                DisplayLinkToFirstPage = CommonMode.Always,
                                DisplayLinkToLastPage = CommonMode.Always,
                                DisplayLinkToPreviousPage = CommonMode.Always,
                                DisplayLinkToNextPage = CommonMode.Always,
                                DisplayLinkToIndividualPages = true,
                                MaximumPageNumbersToDisplay = 5,

                                UlElementClasses = new[] {
                            "list-pagination-1", "pagination", "border", "border-color-4", "rounded-sm",
                            "mb-5", "mb-lg-0", "overflow-auto", "overflow-xl-visible",
                            "justify-content-md-center", "align-items-center", "py-2"
                            },
                                LiElementClasses = new[] { "page-item" },
                                PageClasses = new[] { "page-link", "font-size-14" },
                                ActiveLiElementClass = "active"
                            })
                        </nav>

                    </div>
                </div>
                <!-- End Tab Content -->
            </div>
            <!-- Slick Tab carousel -->
        </div>
    </div>
</div>

<script>
    flatpickr("#checkInOut", {
      mode: "range",
      dateFormat: "d/m/y",
      minDate: "today",
      locale: "vn",
      onChange: function(selectedDates, dateStr, instance) {
        if (selectedDates.length === 2) {
          const start = selectedDates[0];
          const end = selectedDates[1];

          const format = d => {
            const day = String(d.getDate()).padStart(2, '0');
            const month = String(d.getMonth() + 1).padStart(2, '0');
            const year = String(d.getFullYear()).slice(-2);
            return `${day}/${month}/${year}`;
          };

          instance.input.value = format(start) + " → " + format(end);
        }
      }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const doneBtn = document.querySelector('#basicDropdownClick .text-primary');

      doneBtn.addEventListener("click", function () {
        const results = document.querySelectorAll('#basicDropdownClick .js-result');

        const roomCount = parseInt(results[0].value) || 0;
        const adultCount = parseInt(results[1].value) || 0;
        const childCount = parseInt(results[2].value) || 0;
        const totalGuests = adultCount + childCount;

        const summaryText = `${roomCount} phòng, ${totalGuests} khách`;
        document.getElementById('roomGuestSummary').textContent = summaryText;
      });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const checkboxes = document.querySelectorAll('.filter-rating');

      checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', filterHotels);
      });

      function filterHotels() {
        const checkedStars = Array.from(checkboxes)
          .filter(cb => cb.checked)
          .map(cb => parseInt(cb.dataset.stars));

        const hotelCards = document.querySelectorAll('.hotel-item');

        hotelCards.forEach(card => {
          const rating = parseInt(card.dataset.rating);

          if (checkedStars.length === 0 || checkedStars.includes(rating)) {
            card.style.display = '';
          } else {
            card.style.display = 'none';
          }
        });
      }
    });
</script>