@model WEBSITE_TRAVELBOOKING.Models.SysTour;
@using WEBSITE_TRAVELBOOKING.Helper;
@{
    // Layout = "_AdminLayout";
    ViewData["TitleAdmin"] = "Chi tiết chuyến du lịch";
    var getUser = ViewBag.getUser as WEBSITE_TRAVELBOOKING.Models.SysUser;
    var listIMG = ViewBag.listIMG as List<string>;
}

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewData["TitleAdmin"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="dataForm" method="post" novalidate>
        <div class="row">
            <div class="col-12">
                @* <div class="mb-3">
                    <div class="mainslider  w-10">
                        <div class="slider">
                            @foreach (var img in listIMG)
                            {
                                var imagePath = Common.GetImagePath(img);
                                <div class="card shadow-sm m-2" style="width: 18rem; display: inline-block;">
                                    <img src="@img" class="bd-placeholder-img card-img-top" height="225" />
                                </div>
                            }
                        </div>
                    </div>
                </div> *@
                <div class="mb-3">
                    <label class="form-label" for="validationCustom01">Tên chuyến du lịch</label>
                    <input type="text" class="form-control" name="Name" value="@Model.Name" readonly>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom02">Đối tác</label>
                    <input type="text" class="form-control" value="@getUser?.Name" readonly>
                    <div class="invalid-feedback"></div>
                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Địa điểm du lịch</label>
                    <input type="text" class="form-control" name="Local" value="@Model.LocalText" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số điện thoại</label>
                    <input type="text" class="form-control" name="Phone" value="@Model.Phone" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Giá thành</label>
                    <input type="number" class="form-control" name="Price" value="@Model.Price" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Wifi</label>
                    <input type="text" class="form-control" name="Price" value="@(Model.Wifi == "true" ? "Có Wifi" : "Không có Wifi")" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Điểm đón</label>
                    <input type="text" class="form-control" name="Pickup" placeholder="Điểm đón" value="@Model.Pickup" readonly>
                    <span asp-validation-for="Pickup" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Số người tối đa</label>
                    <input type="number" class="form-control" name="MaxPeople" value="@Model.MaxPeople" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Tuổi tối thiểu</label>
                    <input type="number" class="form-control" name="MinAge" value="@Model.MinAge" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="validationCustom05">Trạng thái</label>
                    <input type="text" class="form-control" name="Status" value="@(Model.Status == true ? "Kích hoạt" : "Chưa kích hoạt")" readonly>
                    <div class="invalid-feedback">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label">Mô tả</label>
                    <div class="p-2">@Html.Raw(Model.Description)</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Những điều mong đợi</label>
                    <div class="p-2">
                        @Html.Raw(Model.WhattoExpect)
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="iframeInput" name="LocalIframe" value="@Model.LocalIframe" placeholder="Dán đường dẫn iframe Google Maps vào đây" hidden />
                </div>
                <div class="mb-3">
                    <div id="iframePreviewContainer" class="border rounded" style="height: 300px; overflow: hidden; display: none;">
                        <iframe id="iframePreview" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; height: 100%; border: 0;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    <button type="button" data-toggle="ajax-modal" data-url="@Url.Action("xoaTour", new { id = Model.Id })" class="btn bg-danger-subtle delete text-danger waves-effect text-start">
        Xóa
    </button>
</div>
<script>
    $(document).ready(function () {
        // Hiện bản đồ lần đầu
        var iframeSrc = $('#iframeInput').val();
        iframeSrc = iframeSrc.match(/src\s*=\s*"(.*?)"/);
        var firstSrc = iframeSrc ? iframeSrc[1] : value;
        $('#iframePreview').attr('src', firstSrc);
        $('#iframePreviewContainer').show();

    });
    $('.slider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        centerMode: true,
        autoplay: true,        // tự động chuyển
        autoplaySpeed: 2000,   // thời gian chuyển (ms)
        arrows: false // 👈 Tắt cả hai nút
    });
</script>